# Node.js dependencies
node_modules/
.env

# Hardhat artifacts and cache
artifacts/
cache/
typechain/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific
.vscode/
.idea/

# Optional build output
dist/
build/
